.act-box {
  padding: 40px 0;
}

.is-join {
  .line {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
  }
}

.qrcode {
  text-align: center;
  padding: 20px;
}