.act-box {
  padding: 20px 0;
}

.is-join {
  .line {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
  }
}

.img-box{
  height: 750px;
}

.img{
  display: block;
  max-width: 100%;
  margin: 0 auto;
  height: 300rpx;
}

.no-login {
  position: absolute;
  display: flex;
  background: rgba(250, 250, 250, 1);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 99;
}